body {
    margin: 0;
    padding: 1rem;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.button {
    border: none;
    border-radius: 0.125rem;
    padding: 1rem 1rem;
    cursor: pointer;
}

nav {
    padding: .5rem;
    background: #ececec;
    display: flex;
    align-items: center;
}

input,
textarea {
    font-size: 16px;
}

h1 {
    text-align: center;
}

form {
    width: 100%;
    max-width: 500px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

input,
textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #dcdcdc;
    font-size: 1rem;
}

input[type="submit"] {
    background: #0070f3;
    cursor: pointer;
}

.post {
    transition: box-shadow 0.1s ease-in;
    background: white;
    padding: 1rem;
}

.post:hover {
    box-shadow: 1px 1px 3px #aaa;
}

.bold {
    font-weight: bold;
}

.right {
    margin-left: auto;
}

.right div {
    border: 1px solid;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}
